@font-face {
    font-family:Acumin ;
    src: url(./fonts/Acumin-BdItPro.otf);
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: Acumin;
}
body{
    cursor: url(./icons8-cursor-48.png), pointer;
}
.nav-col{
    padding: 0;
  
}
.nav1{
    position: sticky;
    z-index: 1;
    background-color: white;
}
.nav-link{
    color: black !important;
    margin: 0 10px !important;
}
.ul-btn{
    width:50%;
    justify-content: end;
}
.li-btn{
    padding: .6rem 1rem !important;
    border: 2px solid #056652 ;
    border-radius: 10px;
    font-size: 18px;
    color: #056652 !important;
}
.li-btn2{
    padding: .6rem .8rem !important;
    border: 2px solid #056652 ;
    background-color: #056652;
    color: white !important;
    border-radius:10px ;
    font-size: 18px;
}
.back-img{
    background-image: url(./Logos/first.jpg);
    height: 80vh;
    background-size: cover;
    border-radius: 20px;
   
}
.find-text{
    display: flex;
    align-items: center;
    height: 85%;
}
.find2{
    margin-left: 30px;
}
.find2 p{
    font-size: 20px;
    color: #868787;
}
.mil{
    color: #868787;
}
.search{
    width: 55%;
    height: 95px;
  
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 6px 20px lightgray;
    border-radius: 20px;
    color: orange;
}
.btn-search{
    width: 70px;
    padding: 10px 5px ;
    background-color: #056652;
    color: white;
}
.carts{
    height: 30vh;
}
.mast{
    width: 50%;
}
.mast1{
    width: 60%;
}
.btn3{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #056652 !important;
    border: none;
    outline: none;
    top: -55px;
    left: 85%;
}
.btn3:nth-child(2){
    left: 90%;
}
#check{
   display: none;
}
#check5{
    display: none;
}
#check4{
    display: none;
}
#check3{
    display: none;
}
#check2{
    display: none;
}
#check1{
    display: none;
}
.heart{
    position: absolute;
    right:  30px;
    bottom: 10px;
    color: #056652;
    background-color: white;
    padding: .6rem;
    border-radius: 50%;
    transition: 1s;
}
.heart:hover{
    background-color: #056652;
    color: white;
}
#check:checked+.heart{
    color: red;
    background-color: white;
}
#check5:checked+.heart{
    color: red;
    background-color: white;
}
#check4:checked+.heart{
    color: red;
    background-color: white;
}
#check3:checked+.heart{
    color: red;
    background-color: white;
}
#check2:checked+.heart{
    color: red;
    background-color: white;
}
#check1:checked+.heart{
    color: red;
    background-color: white;
}
.card-img{
    padding: 20px;
    background-color: #f7f7f7;
}
.card-img img{
    border-radius: 20px;
    width: 100%;
    height: 250px;
}
.bottom:hover{
    border-bottom: 2px solid black;
}
.card{
    background-color: #f7f7f7;
    border-radius: 10px;
    overflow: hidden;
    border: none;
}
.place{
    margin-bottom: -12px;
    color: #868787;
}
.house{
    margin: 30% 38% 0;
    width: 60px;
    height: 60px;
    padding: .5rem;
    transition: 1s;
    border-radius: 50%;
}
.card1{
    background-color: white;
    transition: .4s;
    overflow: hidden;
}
.card1:hover{
    border-bottom: 5px solid #056652;
    box-shadow: 0 0 20px #cfcfcf;
    margin-bottom: -30px;
    transform: translateY(0);
}
.card1:hover .house{
    color: white;
    background-color: #056652;
}
span{
    width: 25px;
    height: 25px;
    background-color: #056652;
    color: white;
    padding: .3rem;
}
.img2{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 20px;
}
.text-muted{
    background-color: transparent;
}
.card2{
    width: 320px;
    height: 300px;
    background-color: white;
    box-shadow: 0 0 20px #cfcfcf;
    border-radius: 0;
    margin: 15px 30px 0 20px;
    transition: .5s;
}
.card2:hover{
    transform: scale(1.1) translateY(20px);
    
}
.progress{
    width: 80%;
    margin: 20px auto 10px;
    background-color: white;
}
.btn0{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 380px;
    left: 44%;
    color: white;
    background-color: orange;
    border: none;
    outline: none;
}
.btn01{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 380px;
    left: 50%;
    color: white;
    background: orange;
    outline: none;
}
.btn0:hover{
    background-color: white;
    border: 1px solid orange;
    color: orange;
}
.btn01:hover{
    background-color: white;
    border: 1px solid orange;
    color: orange;
}
.user{
    background-color: white;
    border: none;
    border-radius: 0;
    width: 100%;
    height: 400px;
}
.user2{
    background-color: white;
    border: none;
    border-radius: 0;
    width: 100%;
    height: 400px;
    margin-top:100px ;
}
.user3{
    background-color: white;
    border: none;
    margin-top: 200px;
    border-radius: 0;
    width: 100%;
    height: 400px;
}
.user1{
    width: 100%;
    height: 100% !important;
}
.line{
    height: 3px !important;
    width: 23px;
    background-color:#056652;
    padding: 0;
    margin-top: 23px;
    margin-right: 5px;
}
.line1{
    height: 3px !important;
    width: 23px;
    background-color:#056652;
    padding: 0;
    margin-top: 23px;
    margin-right: 5px;
}
.home{
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: -1;
    background-color: #E3EEF0;
    margin-top: 300px;
    border-radius: 20px;
}
.home img{
    width: 50%;
    height: 490px;
    position: absolute;
    bottom: 0;
    left: 15px;
    border-radius: 0 0 0 20px;
}
.name-home{
    width: 50%;
    height: 100%;
}
.letter{
    margin-left: 20%;
    margin-top: 70px;
}
input{
    width: 40%;
    height: 60px;
    margin-left: 20%;
    border: none;
    outline: none;
    border-radius: 7px 0 0 7px;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 600;
    padding: 0 .5rem;
}
.btn09{
    background-color: rgb(61, 55, 55);
    color: white;
    height: 50px;
    margin-top: 4px;
    width: 97%;
}
.btn5{
    width: 20%;
    height: 60px;
    background-color: white;
    border-radius: 0 7px 7px 0;
}
.adress{
    height: 9vh;
}
.ab{
    text-decoration: none !important;
    margin-bottom: -0px;
    color: #868787;
}
.col-3 i{
    font-size: 28px;
    margin: 24px 4px;
    color:#056652 ;
    cursor: pointer;
    transition: 1s;
}
.col-3 i:hover{
    background-color: #056652;
    color: white;
}
.lin{
    margin-top: 150px;
    height: 3px;
    background-color: #868787;
}
.ok{
    font-size: 17px;
    color: #868787 !important;
}
.link{
    margin-left: 38%;
}
@media screen and (max-width:576px) {
    .nav-link{
        margin: 0 !important;
        margin-left: 0 !important;
    }
    .card1 .card-body p{
        font-size: 25px !important;
        width: 100%;
    }
    .img2{
        margin-top: 10px;
    }
    .card1{
        width: 80%;
        margin: auto;
    }
    .house{
        margin-top: 30px;
       margin-left: 39% !important;
       width: 50px;
       height: 50px;
    }
    .d h1{
        font-size: 19px;
    }
    .join h1{
        font-size: 20px;
    }
    .join p{
        font-size: 16px;
    }
    .user2{
        margin: 0 !important;
    }
    .user3{
        margin: 0 !important;
    }
    .nav-link:hover{
       border-bottom: 1px solid transparent;
    }
    .home{
        text-align: center;
        height: 250px;
        margin: 0;
    }
    .name-home{
        width: 100%;
        margin: 0 !important;
    }
    .name-home h1{
        text-align: center;
        font-size: 25px;
        margin-left:0 !important;
    }
    .name-home input{
        width: 60%;
        height: 45px;
        margin: 0 0 0 20px ;
        font-size: 12px;
        font-weight: 600;
    }
    .btn5{
        width: 30%;
        height: 45px;
    }
    .btn09{
        width: 98%;
        margin: 3px 0;
        height: 40px !important;
        font-size: 12px;
    }
    .name-home p{
        font-size: 15px;
        margin-left: 0 !important;
    }
    .adress{
       flex-wrap: wrap;
        padding: 0 !important;
        margin: 0 !important;
    }.home13 img{
        display: none;
    }
    .navbar-nav{
        margin: 0 !important;
        padding: 0 !important;
        position: relative;
    }
    .btn0{
        left: 35%;
    }
    .btn01{
        left: 55%;
    }
    .btn3{
        width: 40px;
        height: 40px;
        top: -20px;
        margin-bottom:30px !important ;
        left: 70%;
    }
    .carts img{
        width: 20%;
        margin-left: 36%;
        margin-bottom: 30px;
        padding: 0;
    }
    .card2{
        width: 400px !important;
        margin: 0 50px;
    }
    .man{
        flex-wrap: wrap;
    }
    .none1{
        display: none;
    }
    .card1:hover{
        transform: translateY(0);
        transform: scale(1);
        margin-bottom: 0;
    }
    .houses{
       display: flex;
       flex-wrap: nowrap;
    }
    .bg{
        margin-top: 100%;
    }
    .home2{
        display: none;
    }
    .home1{
       font-size: 17px !important;
       padding: 0 !important;
       margin-top: 20px;
    }
    .search{
        width: 100%;
        height: 100px !important;
        margin: 0  0 -50px !important;
        font-size: 10px !important;
        padding: 0 10px;
    }

    .back-img{
        background-image: url(./image/second.jpg);
        height: 75vh;
    }
    .back-img h1{
        font-size: 35px;
    }
    .back-img p{
        font-size: 14px;
    }
    .search h3{
        font-size: 15px;
    }
    .btn-search{
        width: 14%;
        height: 23%;
        margin-left: 25px !important;
        font-size: 15px !important;
        padding: 0;
    }
    .ul-btn{
       width: 90px;
    } 
    .ul-btn a{
        font-size: 15px;
    }
    .ul-btn a:hover{
        border-bottom: none;
    }
      .ab{
        width: 250px !important;
        font-size: 17px;
        margin: 0 !important;
        padding: 0;
    }
    .ank{
        margin: 0 17px !important;
        padding: 0 0 0 0 !important;
        max-width: 500px;
    }
    .ank h4{
        font-size: 18px;
        max-width: 500px;
    }
    .none4 {
        display: none;
       
    }
}
@media (min-width:992px) and (max-width:1200px) {
    .search{
        width: 70% !important;
        height: 160px !important;
    }
    .pd{
        padding: 0 !important;
        margin: 0 !important;
    }
    .link{
        margin: 0 120px;
    }
    .bg{
        margin-top: 100px;
    }
    .none4 a{
        margin-right: 50px !important;
    }
    .none4 i{
        margin-left: 10px;
       
    }
    .card1 p{
        font-size: 18px !important;
    }
    .house{
        margin-left: 33% !important;
    }
    .mast{
        margin-left: 60px;
    }
    .mast1{
        margin-left: 50px;
        margin-bottom: 50px;
    }
    .heart{
        margin-bottom: 30px;
    }
   
}
@media (min-width:768px) and (max-width:992px) {
    .ul-btn{
        display: none;
    }
    .search{
        width: 80%;
        height: 140px;
        padding: 0 .5rem;
        font-size: 18px;
    }
    .back-img{
        background-image: url(./image/second.jpg);
    }
    .adress{
        display:flex;
        flex-wrap: wrap ;
    }
    .ank i{
        margin-left: 10px;
    }
    .ok{
        display: none;
    }
    .lin{
        display: none;
    }
    .user2{
        margin: 0;
    }
    .user3{
        margin: 0 150px;
    }
    .line1{
        margin-left:156px ;
    }
    .mar{
        margin-left: 160px;
    }
    .name-home h1{
        font-size: 21px;
    }
    .name-home p{
        font-size: 17px;
    }
    .home13 img{
        height: 80%;
    }
    .btn0{
        left: 39%;
    }
    .home13{
        margin-top:0 ;
    }
    .btn09{
        font-size: 13px;
        padding: 0;
    }
    .home{
        margin-top: 10px;
    }
    .card2{
        width: 500px;
        margin: 0 5px;
    }
    .home2{
        padding: 0 10px;
        height: 200px !important;
    }
    .home1 .card-bottom{
        padding: 10px 0 !important;
    }
    .card2 .card-bottom p{
        font-size: 15px;
        margin: 45px 0 0 0 !important;
        width: 100%;
    }
    .img2{
        height: 70px;
        width: 70px;
        margin-top: 30px;
    }
    .card2 p{
        font-size: 15px;
    }
    .heart{
        margin-left: -60px;
        background-color: transparent;
    }
    #check:checked+.heart{
        background-color: transparent;
    }
    #check5:checked+.heart{
        background-color: transparent;
    }
    #check4:checked+.heart{
        background-color: transparent;
    }
    #check3:checked+.heart{
        background-color: transparent;
    }
    #check2:checked+.heart{
        background-color: transparent;
    }
    #check1:checked+.heart{
        background-color: transparent;
    }
    .heart:hover{
        background-color: transparent;
        color: #056652;
    }
    .bi-suit-heart-fill{
        margin-right: -25px;
        background-color: transparent;
    }
    .bg{
        margin: 70px 0;
    }
    .mast{
        width: 34%;
        margin: 0 100px;
    }
    .btn3{
        left: 82%;
    }
    .mast1{
        width: 42%;
        margin: 0 50px 20px 80px;
    }
    .ank i{
        margin-right: 5px !important;
        font-size: 30px;
    }
    .none4{
        padding: 0 !important;
    }
}
@media (min-width:576px) and (max-width:768px) {
    .search{
        width: 100% !important;
        height: 150px;
        margin-left: 0px !important;
    }
    .search h3{
        font-size: 20px !important;
    }
    .none1{
        display: none !important;
    }
    .ok  {
        display:none;
    }
    .adress{
        display: none;
    }
    .nav-link{
        margin: 0 !important;
        margin-left: 0 !important;
    }
    .house{
        margin-top: 30px;
       margin-left: 38% !important;
       width: 100px;
       height: 100px;
    }
    .d h1{
        font-size: 19px;
    }
    .join h1{
        font-size: 20px;
    }
    .join p{
        font-size: 16px;
    }
    .user2{
        margin: 0 !important;
    }
    .user3{
        margin: 0 !important;
    }
    .nav-link:hover{
       border-bottom: 1px solid transparent;
    }
    .home{
        text-align: center;
        height: 250px;
        margin: 0;
    }
    .card1 .card-body p{
        font-size: 40px !important;
    }
    .name-home{
        width: 100%;
        margin: 0 !important;
    }
    .name-home h1{
        text-align: center;
        font-size: 25px;
        margin-left:0 !important;
    }
    .name-home input{
        width: 60%;
        height: 45px;
        margin: 0 0 0 20px ;
        font-size: 12px;
        font-weight: 600;
    }
    .btn5{
        width: 30%;
        height: 45px;
    }
    .btn09{
        width: 98%;
        margin: 3px 0;
        height: 40px !important;
        font-size: 12px;
    }
    .name-home p{
        font-size: 15px;
        margin-left: 0 !important;
    }
    .adress{
        display: flex;
        padding: 0 !important;
        margin: 0 !important;
    }.home13 img{
        display: none;
    }
    .navbar-nav{
        margin: 0 !important;
        padding: 0 !important;
        position: relative;
    }
    .btn0{
        left: 35%;
    }
    .btn01{
        left: 50%;
    }
    .btn3{
        top: -20px;
        margin-bottom:30px !important ;
        left: 75%;
    }
    .carts img{
        width: 20%;
        margin-left: 36%;
        margin-bottom: 30px;
        padding: 0;
    }
    .card2{
        width: 400px !important;
        margin: 0 50px;
    }
    .man{
        flex-wrap: wrap;
    }
    .none1{
        display: none;
    }
    .card1:hover{
        transform: translateY(0);
        transform: scale(1);
        margin-bottom: 0;
    }
    .houses{
       display: flex;
       flex-wrap: nowrap;
    }
    .bg{
        margin-top: 100%;
    }
    .home2{
        display: none;
    }
    .home1{
       font-size: 17px !important;
       padding: 0 !important;
       margin-top: 20px;
    }
    .back-img{
        background-image: url(./image/second.jpg);
        height: 75vh;
    }
    .back-img h1{
        font-size: 35px;
    }
    .back-img p{
        font-size: 14px;
    }
    .search h3{
        font-size: 14px;
    }
    .btn-search{
        width: 14%;
        height: 23%;
        margin-left: 25px !important;
        font-size: 15px !important;
        padding: 0;
    }
    .ul-btn{
       width: 90px;
    } 
    .ul-btn a{
        font-size: 15px;
    }
    .ul-btn a:hover{
        border-bottom: none;
    }
      .ab{
        width: 250px !important;
        font-size: 17px;
        margin: 0 !important;
        padding: 0;
    }
    .ank{
        margin: 0 10px !important;
        padding: 0 0 0 0 !important;
        max-width: 500px;
        display: block;
        flex-wrap: nowrap;
    }
    .ank h4{
        font-size: 18px;
       
    }
    .none4 {
        display: none;
        display: block;
    }
    .none4 i{
        margin: 0 2px;
    }
}
@media (min-width:992px) and (max-width:1200px) {
    .search{
        width: 60%;
    }
    .pd{
        padding: 0 !important;
        margin: 0 !important;
    }
    .link{
        margin: 0 120px;
    }
    .bg{
        margin-top: 100px;
    }
    .card1 p{
        font-size: 18px !important;
    }
    .house{
        margin-left: 33% !important;
    }
    
}